/* Navbar */
#navbar {
    left: 286px;
    background-color: var(--light);
    position: absolute;
    right: 0;
    z-index: 2;
}

#navbar.close {
    left: 80px;
    transition: .3s all;
}

/* Sidebar */
#brandText.close {
    opacity: 0;
    display: none;
}

.sidebar {
    height: 100%;
    width: 286px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.sidebar.close {
    width: 80px;
}

.sidebar.close li a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.close li a i {
    margin-right: 0;
}

.sidebar .brand .d-flex {
    background-color: var(--blue);
    min-width: 42px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.sidebar.close .text {
    opacity: 0;
    display: none;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar li a {
    display: block;
    height: 44px;
    border-radius: 8px;
    padding: 12px 26px;
    color: var(--black);
}

.sidebar li a.active {
    color: white;
    background-color: var(--blue);
}

.sidebar li a:hover {
    color: white;
    background-color: var(--blue);
    transition: .3s linear;
}

.sidebar li a i {
    margin-right: 1rem;
}

/* Main page */
.main__page {
    margin-left: 286px;
    background-color: var(--light);
    min-height: 100vh;
}

.main__page.close {
    margin-left: 80px;
}